<div class="notification notification-subscribe text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "You've successfully subscribed to"}} {{@site.title}}
</div>

<div class="notification notification-signup text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Great! Next, complete checkout for full access to"}} {{@site.title}}
</div>

<div class="notification notification-signin text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Welcome back! You've successfully signed in."}}
</div>

<div class="notification error notification-signin-failure text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Unable to sign you in. Please try again."}}
</div>

<div class="notification notification-checkout text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Success! Your account is fully activated, you now have access to all content."}}
</div>

<div class="notification error notification-checkout-cancel text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Error! Stripe checkout failed."}}
</div>

<div class="notification notification-billing-success text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Success! Your billing info is updated."}}
</div>

<div class="notification error notification-billing-cancel text-center">
    <a class="notification-close" href="javascript:;"><span aria-hidden="true" class="close-icon">×</span></a>{{t "Error! Billing info update failed."}}
</div>