<header class="site-header">
    <div class="container">
        <div class="header-wrapper text-center">
            {{#if @site.logo}}
            <a class="image-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
            {{else}}
                <a class="text-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            {{#if @site.description}}
                <div class="site-description">{{@site.description}}</div>
            {{/if}}
        </div>
    </div>
    <nav class="site-navbar-wrap">
        <div class="container">
            <div class="navbar-inner d-flex">
                <span class="menu-button d-inline-flex menu-open">
                    {{> icons/menu}}
                </span>
                <ul class="navbar-nav m-auto text-center main-menu d-none d-xl-flex">
                {{navigation}}
                </ul>
                <span class="search-button d-inline-flex search-open">
                    {{> icons/search}}
                </span>
                <nav class="mobile-menu" id="mobile-menu"><ul>{{navigation}}</ul></nav>
                <div class="backdrop hidden-md hidden-lg" id="backdrop">
                    <span class="menu-close align-center">{{> icons/close}}</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="fixed-nav-wrap">
        <nav class="site-navbar-wrap">
            <div class="container">
                <div class="navbar-inner d-flex">
                    <span class="menu-button d-inline-flex menu-open">
                        {{> icons/menu}}
                    </span>
                    <ul class="navbar-nav m-auto text-center main-menu d-none d-xl-flex">
                    {{navigation}}
                    </ul>
                    <span class="search-button d-inline-flex search-open">
                       {{> icons/search}}
                    </span>
                </div>
            </div>
        </nav>
    </div>
</header>