{{#foreach posts visibility="all"}}
<div class="post-item clearfix">
    <div class="row">
        {{#if feature_image}}
        <div class="col-md-6">
            <a href="{{url}}">
                <div class="featured-image-wrap">
                    <div class="featured-image">
                        <img srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w"
                            sizes="(max-width: 347px) 300px, 600px"
                            src="{{img_url feature_image size="m"}}"
                            alt="{{title}}"
                        />
                    </div>
                </div>
            </a>
        </div>
        {{/if}}
        <div class="{{#if feature_image}}col-md-6{{else}}col{{/if}} content-wrap">
            {{#primary_tag}}
            <div class="primary-tag">
                <a href="{{url}}">{{name}}</a>
            </div>
            {{/primary_tag}}
            <h2 class="title"><a href="{{url}}">{{title}}</a></h2>
            <time class="date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM, YYYY"}}">{{date format="MMMM DD, YYYY"}}</time>
            <div class="excerpt">
                {{excerpt}}
            </div>
        </div>
    </div>
</div>
{{/foreach}}