{{#get "posts" limit="4" filter="tag:travel"}}
<div class="col-lg-12">
    <div class="row-post-section post-group">
        <div class="post-group-title">
            <span>Travel</span>
        </div>
        <div class="row">
            {{#foreach posts visibility="all"}}
            <div class="col-lg-3 col-md-6 post-wrap">
                {{#if feature_image}}
                <a href="{{url}}">
                    <div class="featured-image-wrap">
                        <div class="featured-image">
                            <img srcset="{{img_url feature_image size="s"}} 300w,
                                        {{img_url feature_image size="m"}} 600w"
                                sizes="(max-width: 991px) 600px, 300px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                            />
                        </div>
                    </div>
                </a>
                {{/if}}
                <h2 class="title h4"><a href="{{url}}">{{title}}</a></h2>
                <time class="date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM, YYYY"}}">{{date format="MMMM DD, YYYY"}}</time>
                <div class="excerpt">{{excerpt words="30"}}</div>
            </div>
            {{/foreach}}
        </div>
    </div>
</div>
{{/get}}