<!DOCTYPE html>
<html lang="{{@site.locale}}">
	<head>
		{{! Document Settings }}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		{{! Page Meta }}
		<title>{{meta_title}}</title>
		{{! Styles'n'Scripts }}
		<style id="bundle-css">
            {{> bundle-css}}
        </style>
		{{! Ghost outputs important style and meta data with this tag }}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		{{! insert header partial}}
		{{> header}}
		{{{body}}}
		{{! insert footer partial}}
		{{> footer}}
		{{> members/notifications}}
		{{! scripts}}
		<script>var apiKey = "{{>api_key}}";</script>
		<script src="{{asset "js/app.bundle.min.js"}}"></script>
        {{ghost_foot}}
	</body>
</html>